body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 2rem;
}

#deckContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    flex-shrink: 0;
}

#handContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 50%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    align-items: center;
}

.card {
    width: auto;
    height: 100%;
    border-radius: 10px;
    margin-right: 3px;
    cursor: pointer;
    flex: 0 0 auto;
}

#deck {
    cursor: pointer;
    height: 80%;
    width: auto;
}

#counter {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 18px;
}
