body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    box-sizing: border-box;
}

#titleContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}

h1 {
    margin: 0;
    font-size: 1.7rem;
}

button {
    padding: 10px 20px;
    font-size: 0.7rem;
    cursor: pointer;
}

#pilesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    gap: 20px; /* space between draw and discard piles */
}

.pile {
    height: 80%;
    width: auto;
    cursor: pointer;
}

#handContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

#faceUpContainer {
	display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 10px;
	justify-content:center;
}

#inHandContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 10px;
}

#inHandContainer::before,
#inHandContainer::after {
  content: '';
  flex: 1;
}

#faceUpContainer::before,
#faceUpContainer::after {
  content: '';
  flex: 1;
}

.card {
    width: auto;
    height: 80%; /* Adjusted height for better visibility */
    margin-right: 10px;
    cursor: pointer;
    flex: 0 0 auto;
    transition: transform 0.3s;
}

@keyframes discard {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(0.5) rotate(360deg);
        opacity: 0;
    }
}

.card.discard-animation {
    animation: discard 0.5s forwards;
}

